
/* 
These are the styles for the whole document.
*/

.main-title {
    background: red; /* devil colors*/
    /* padding: 35px; */
    /* 
    padding-top: 10px;
    padding-right: 35px; 
    padding-bottom: 10px;
    padding-left: 35px;
    */
    /* padding: 10px 35px; */
    padding: 10px 35px 12px 25px;
    /* 
    Top
    Right
    Bottom
    Left
    */
    margin: 0;
}

.fancy-font, 
.navbar,
.thing,
.other-thing
{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Roboto', sans-serif;

    /* named color */
    /* color: red; */

    /* "hex" or hexidecimal colors */
    /* color: #ff0000; */
    /* color: #f00; */
    
    /* color: rgb(255, 0, 0); */
    /* color: rgba(255, 0, 0, 1.0); */

    color: rgba(61, 88, 88, 0.787);

    color: green;
}

.navbar ul {
    padding-left: 0;
}

.navbar li {
    color: green;
    list-style: none;

}


.main-image {
    width: 140px;
}

.main-image img {
    width: 100%;
}

.hero-image {
    background-image: url(../images/man-hug.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}